body {
  box-sizing: border-box;
  margin: 0;
  background: var(--background-color);
  font-family: var(--font-family);
  transition: opca;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.fade-in.fade2 {
  animation-delay: 0.2s;
}

.fade-in.fade3 {
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  background-color: var(--secondary-color);
  color: white;
}

li {
  list-style: none;
}

table thead.table-dark {
  --bs-table-bg: var(--secondary-color);
}

.tech {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 0.8rem;
}
.tech > div:first-child {
  border-right: 1px solid;
  border-color: var(--bg);
}

.tech .col h3 {
  border-bottom: 1px solid;
  border-color: var(--bg);
  padding: 0.5rem;
}

.tech .col ul {
  padding: 0;
}

.navmenu {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--navmenu-color);
  display: flex;
  justify-content: right;
  align-items: center;
  color: var(--navmenu-text-color);
  font-size: var(--text-size-medium);
}

.navmenu a {
  text-decoration: none;
  padding: 0.8rem;
  color: var(--navmenu-text-color);
}

.navmenu a:hover {
  background: var(--navmenu-hover-color);
  color: var(--text-color);
}

.navmenu a:active,
a:visited {
  color: var(--navmenu-text-color);
}

div.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 3rem;
  background: var(--navmenu-hover-color);
}

img.logo {
  width: 10rem;
  margin: 0.5rem;
}

.page-item .page-link:active,
.page-item .page-link:visited,
.page-item .page-link:hover {
  color: var(--text-color);
}

.navmenu a:last-child {
  margin-right: 2rem;
}

.btnActions {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.pagination {
  --bs-pagination-active-bg: var(--secondary-color);
  --bs-pagination-active-border-color: var(--secondary-color);
  --bs-pagination-color: var(--text-color);
}

li.page-item {
  cursor: pointer;
}

.Filters {
  width: max-content;
}

.Filters li {
  margin-bottom: 1rem;
}

.loading {
  margin-top: 10rem;
}
